@media (max-width: 768px){
    .card{
        margin: 0px 8px 5px 8px;
    }
    .btn-danger{
        margin: 8px 33%;
        display: block;
        max-height: 5%;
        max-width: 35%;
        text-align: center;
    }
}

.contenedorGeneral{
    background-color: ;
}

#app{
    background-color: ;
}

.card{
    margin-left: 5px;
}

.card-header h4{
    text-align: center;
    font-weight: bold;
    margin: auto;
}

.form-group{
    margin: 15px;
}

#prodButton{
    margin: auto;
}

.cardStock{
    background-color: rgb(202, 202, 202);
}

.cardStock div{
    text-align: center;
}

.cardStock div strong{
    font-weight: bold;
    text-decoration: underline;
}

.btn-danger{
    margin: 5px;
}

/* .contadorProductos{
    margin: 5px;
    max-width: 50%;
} */